div.page-padding {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width:400px;
}

div.overlap {
  display: grid;
}

ion-img.wheel {
  height: 150px;
  grid-column: 1;
  grid-row: 1;
  transform-origin: center;
}

ion-img.dial {
  height: 90px;
  grid-column: 1;
  grid-row: 1;  
  transform-origin: center;
  transform: translateY(30px) rotate(90deg)
}

ion-img.bar {
  height: 17px;
}

.space-10 {
  height: 10px;
}

.space-20 {
  height: 20px;
}

div.ion-padding {
  background-color: #f9f9f9;
  height: 100vh;
}

canvas.chart {
  width: 80%;
  padding: 0px 10px 0px 10px;
  background-color: #130749e1;
}

div.accordion {
  width: '100%';
  color: white;
  height: 65px;
  padding-left: 6px;
  padding-top: 2px;
  cursor: pointer;
  background-color: #130749e1;
  border-bottom: 1px solid grey; 
}
div.accordion h5 {
  display: 'inline-block';
  background-color: transparent;
  float: left;
  width: calc(100% - 25px);
  margin: 0px;
}
div.accordion div {
  display: 'block';
  background-color: transparent;
  width: 100%;
  display: Grid;
}
div.accordion div div {
  display: table-cell;
  width: 50px;
  color: black;
  background-color: transparent;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid white;
  color: white;
  border-collapse: separate;
  padding: 0 4px 0 4px;
  text-align: center;
}
div.accordion div:nth-of-type(2) div {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 12px;
}
div.accordion div div:nth-child(1) {
  grid-column: 3 / 6;
  grid-row: 1;
}
div.accordion div div:nth-child(2) {
  grid-column: 4 / 6;
  grid-row: 1;
}
div.accordion span {
  position: relative;
  top: 28px;
}
