h4 {
  color: #170957;
}

div.page-padding {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width:400px;
}

div.overlap {
  display: grid;
}

div.overlap > div {
  margin: 0% 50% 0% 50%;

  // REVIEW: hacks!
  position: relative;
  top: 65px; 
  left: -89px;

  text-align: center;
  height: 50px;
  width: 60px;
  grid-column: 1;
  grid-row: 1;
  transform-origin: center;
  color: #170957;
  font-size: 18px;
  font-weight: 500;
}

ion-img.wheel {
  height: 150px;
  width: 150px;

  // REVIEW: hacks!
  margin-left: calc(50% - 135px);

  grid-column: 1;
  grid-row: 1;
  transform-origin: center;
}

ion-img.bar {
  grid-column: 1;
  grid-row: 1;  
}

ion-img.temperature {
  grid-column: 1;
  grid-row: 1;  

  // REVIEW: hacks!
  position: relative;
  top: 0px;
}

ion-img.dial {
  // REVIEW: hacks!
  position: relative;
  top: 7px;
  left: calc(50% - 105px);

  height: 78px;
  height: 78px;
  grid-column: 1;
  grid-row: 1;  
  transform-origin: center;
}

ion-img.temperature {
  height: 32px;
  height: 32px;
  grid-column: 1;
  grid-row: 1;  
  transform-origin: center;

  position: relative;
  top: -32px;
}

ion-img.bar {
  height: 28px;
}

.space-10 {
  height: 10px;
}
.space-20 {
  height: 20px;
}

div.ion-padding {
  background-color: #f9f9f9;
  height: 100vh;
}

canvas.chart {
  width: 80%;
  padding: 0px 10px 0px 10px;
  border: 1px solid grey;
}

div.accordion {
  width: '100%';
  background-color: #D0D6D0;
  height: 1.5em;
  padding-left: 6px;
  cursor: pointer;
  color: rgb(61, 80, 19)
}
div.accordion h5 {
  display: 'inline-block';
  background-color: transparent;
  float: left;
  width: calc(100% - 25px);
  margin: 0px;
}
div.accordion div {
  display: 'inline-block';
  background-color: transparent;
  text-align: right;
  float: right;
}
div.accordion span {
  position: relative;
  top: 3px;
}
