<ion-header>
  <ion-toolbar>
    <ion-title>
      Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='page-padding'>

  <div class='space-10'></div>

  <h4>Wellbeing Index</h4>

  <div class="overlap">
    <ion-img class="dial" [src]="dial"></ion-img>
    <ion-img class="wheel" [src]="color_wheel"></ion-img>
  </div>

  <div class='space-20'></div>
  <ion-img class="bar" [src]="bar"></ion-img>

  <div class='space-20'></div>

  <app-panel 
    [panel]="panels[0]" 
    [open]="true"
    (click) = "alert"
  >
  </app-panel>

  <div class='space-10'></div>

</div>
</ion-content>
